name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build and smoke test
        uses: ./.github/actions/uv-build
        with:
          python-version: ${{ matrix.python-version }}
